{% extends 'base.html' %}


{% block title %}Add Books{% endblock title %}


{% block content %}

<div class="row border border-dark">
    <div class="col-md-3"></div>

    <div class="col-md-6">
        <h3 class="text-center">Add Book Details</h3>
        {% include 'includes/messages.html' %}
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" name="name" placeholder="Book Name">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">ISBN no.</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="staticEmail" name="isbn" placeholder="ISBN No.">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-10">
                    <select class="form-select" aria-label="Default select example" name="author_id">
                        <option>Select Author</option>
                        {% for i in author %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                        
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" name="category" placeholder="Category">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Stock</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticEmail" name="stock" placeholder="Stock">
                </div>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-outline-dark mb-4" value="Add Book">
            </div>
        </form>
    </div>

    <div class="col-md-3"></div>

</div>

{% endblock content %}