<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Get Books</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Author
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'view_author' %}">View author</a></li>
            <li><a class="dropdown-item" href="{% url 'add_author' %}">Add author</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_book' %}">Add Books</a>
        </li>
        {% endif %}

      </ul>
      {% if request.user.is_authenticated %}
      <li class="nav-item d-flex">
        <a class="nav-link" href="{% url 'logout_user' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item d-flex">
        <a class="nav-link" href="{% url 'register_user' %}">Register</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link" href="{% url 'login_user' %}">Login</a>
      </li>
      {% endif %}

    </div>
  </div>
</nav>